<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Sender</title>
</head>
<body>
    <form action="/sendMessage" method="post">
        <div class="form-group">
            <input type="text" id="number" , name="number" placeholder="Enter Mobile No." required>
            <br><br>
        </div>
        <div class="form-group">
            <input type="text" id="message" , name="message" placeholder="Enter message" required>
        </div>
        <button type="submit">Send Message</button>
    </form>
</body>
</html>